{
  "printWidth": 100,
  "tabWidth": 4,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^@nest/(.*)$", 
    "^@modules/(.*)$", 
    "^@constants/(.*)$", 
    "^@services/(.*)$", 
    "^@utils/(.*)$", 
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}